In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('c:\\Users\\user\\Downloads\\Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  int64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  int64
 4   owner       32648 non-null  object
 5   age         32648 non-null  int64
 6   power       32648 non-null  int64
 7   brand       32648 non-null  object
dtypes: int64(4), object(4)
memory usage: 2.0+ MB

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7324 entries, 0 to 9372
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   7324 non-null   object
 1   price       7324 non-null   int64
 2   city        7324 non-null   object
 3   kms_driven  7324 non-null   int64
 4   owner       7324 non-null   object
 5   age         7324 non-null   int64
 6   power       7324 non-null   int64
 7   brand       7324 non-null   object
dtypes: int64(4), object(4)
memory usage: 515.0+ KB

In [7]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [8]:
df['brand'].value_counts().keys()

Index(['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW', 'Jawa', 'Indian', 'MV',
       'Rajdoot', 'LML', 'Yezdi', 'Ideal'],
      dtype='object', name='brand')

In [9]:
brand_list=['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW']
brand_list

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [10]:
df=df[df["brand"].isin(brand_list)]
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000,Delhi,48587,First Owner,8,150,Hero
9369,Bajaj Avenger 220cc,35000,Bangalore,60000,First Owner,9,220,Bajaj
9370,Harley-Davidson Street 750 ABS,450000,Jodhpur,3430,First Owner,4,750,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000,Hyderabad,21300,First Owner,4,400,Bajaj
9372,Bajaj Avenger Street 220,80000,Hyderabad,7127,First Owner,5,220,Bajaj

In [11]:
categorial=df.select_dtypes(include="O")    # catgorical data types 
categorial

,bike_name,city,owner,brand
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,First Owner,TVS
1,Royal Enfield Classic 350cc,Delhi,First Owner,Royal Enfield
2,Triumph Daytona 675R,Delhi,First Owner,Triumph
3,TVS Apache RTR 180cc,Bangalore,First Owner,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,First Owner,Yamaha
...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,Delhi,First Owner,Hero
9369,Bajaj Avenger 220cc,Bangalore,First Owner,Bajaj
9370,Harley-Davidson Street 750 ABS,Jodhpur,First Owner,Harley-Davidson
9371,Bajaj Dominar 400 ABS,Hyderabad,First Owner,Bajaj
9372,Bajaj Avenger Street 220,Hyderabad,First Owner,Bajaj

In [12]:
numerical=df.select_dtypes(exclude="O")    # numerical data types
numerical

       price  kms_driven  age  power
0      35000       17654    3    110
1     119900       11000    4    350
2     600000         110    8    675
3      65000       16329    4    180
4      80000       10000    3    150
...      ...         ...  ...    ...
9362   25000       48587    8    150
9369   35000       60000    9    220
9370  450000        3430    4    750
9371  139000       21300    4    400
9372   80000        7127    5    220

[7307 rows x 4 columns]

In [13]:
categorial['owner'].value_counts()

owner
First Owner             6628
Second Owner             586
Third Owner               83
Fourth Owner Or More      10
Name: count, dtype: int64

In [14]:
categorial['brand']

0                   TVS
1         Royal Enfield
2               Triumph
3                   TVS
4                Yamaha
             ...
9362               Hero
9369              Bajaj
9370    Harley-Davidson
9371              Bajaj
9372              Bajaj
Name: brand, Length: 7307, dtype: object

In [15]:
dt1={"First Owner":1,"Second Owner":2,"Third Owner":3,"Fourth Owner Or More":4}
categorial['owner']= categorial['owner'].map(dt1)

In [16]:
categorial

                                 bike_name       city  owner            brand
0       TVS Star City Plus Dual Tone 110cc  Ahmedabad      1              TVS
1              Royal Enfield Classic 350cc      Delhi      1    Royal Enfield
2                     Triumph Daytona 675R      Delhi      1          Triumph
3                     TVS Apache RTR 180cc  Bangalore      1              TVS
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore      1           Yamaha
...                                    ...        ...    ...              ...
9362             Hero Hunk Rear Disc 150cc      Delhi      1             Hero
9369                   Bajaj Avenger 220cc  Bangalore      1            Bajaj
9370        Harley-Davidson Street 750 ABS    Jodhpur      1  Harley-Davidson
9371                 Bajaj Dominar 400 ABS  Hyderabad      1            Bajaj
9372              Bajaj Avenger Street 220  Hyderabad      1            Bajaj

[7307 rows x 4 columns]

In [17]:
categorial["brand"].value_counts().keys()

Index(['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW'],
      dtype='object', name='brand')

In [18]:
brand_list
dt={}
for i in range(0,len(brand_list)):
    dt[brand_list[i]]=i

In [19]:
dt

{'Bajaj': 0,
 'Royal Enfield': 1,
 'Hero': 2,
 'Honda': 3,
 'Yamaha': 4,
 'TVS': 5,
 'KTM': 6,
 'Suzuki': 7,
 'Harley-Davidson': 8,
 'Kawasaki': 9,
 'Hyosung': 10,
 'Mahindra': 11,
 'Benelli': 12,
 'Triumph': 13,
 'Ducati': 14,
 'BMW': 15}

In [20]:
categorial['brand'] = categorial['brand'].map(dt)
categorial

                                 bike_name       city  owner  brand
0       TVS Star City Plus Dual Tone 110cc  Ahmedabad      1      5
1              Royal Enfield Classic 350cc      Delhi      1      1
2                     Triumph Daytona 675R      Delhi      1     13
3                     TVS Apache RTR 180cc  Bangalore      1      5
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore      1      4
...                                    ...        ...    ...    ...
9362             Hero Hunk Rear Disc 150cc      Delhi      1      2
9369                   Bajaj Avenger 220cc  Bangalore      1      0
9370        Harley-Davidson Street 750 ABS    Jodhpur      1      8
9371                 Bajaj Dominar 400 ABS  Hyderabad      1      0
9372              Bajaj Avenger Street 220  Hyderabad      1      0

[7307 rows x 4 columns]

In [21]:
categorial['Owner_name']="sanjana"
categorial

                                 bike_name       city  owner  brand Owner_name
0       TVS Star City Plus Dual Tone 110cc  Ahmedabad      1      5    sanjana
1              Royal Enfield Classic 350cc      Delhi      1      1    sanjana
2                     Triumph Daytona 675R      Delhi      1     13    sanjana
3                     TVS Apache RTR 180cc  Bangalore      1      5    sanjana
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore      1      4    sanjana
...                                    ...        ...    ...    ...        ...
9362             Hero Hunk Rear Disc 150cc      Delhi      1      2    sanjana
9369                   Bajaj Avenger 220cc  Bangalore      1      0    sanjana
9370        Harley-Davidson Street 750 ABS    Jodhpur      1      8    sanjana
9371                 Bajaj Dominar 400 ABS  Hyderabad      1      0    sanjana
9372              Bajaj Avenger Street 220  Hyderabad      1      0    sanjana

[7307 rows x 5 columns]

In [22]:
categorial.drop(['bike_name','city','Owner_name'],axis=1,inplace=True)
categorial

      owner  brand
0         1      5
1         1      1
2         1     13
3         1      5
4         1      4
...     ...    ...
9362      1      2
9369      1      0
9370      1      8
9371      1      0
9372      1      0

[7307 rows x 2 columns]

In [23]:
data=pd.concat([categorial,numerical],axis=1)
data

      owner  brand   price  kms_driven  age  power
0         1      5   35000       17654    3    110
1         1      1  119900       11000    4    350
2         1     13  600000         110    8    675
3         1      5   65000       16329    4    180
4         1      4   80000       10000    3    150
...     ...    ...     ...         ...  ...    ...
9362      1      2   25000       48587    8    150
9369      1      0   35000       60000    9    220
9370      1      8  450000        3430    4    750
9371      1      0  139000       21300    4    400
9372      1      0   80000        7127    5    220

[7307 rows x 6 columns]

In [24]:
x = data.drop('price' , axis= 1)

In [25]:
y = data[['price']]

In [26]:
x

      owner  brand  kms_driven  age  power
0         1      5       17654    3    110
1         1      1       11000    4    350
2         1     13         110    8    675
3         1      5       16329    4    180
4         1      4       10000    3    150
...     ...    ...         ...  ...    ...
9362      1      2       48587    8    150
9369      1      0       60000    9    220
9370      1      8        3430    4    750
9371      1      0       21300    4    400
9372      1      0        7127    5    220

[7307 rows x 5 columns]

In [27]:
y

       price
0      35000
1     119900
2     600000
3      65000
4      80000
...      ...
9362   25000
9369   35000
9370  450000
9371  139000
9372   80000

[7307 rows x 1 columns]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
# x and y --> training and tasting split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)   #test size -> 20 % and other reamaining part - trainning size = 80%
#preduction -> by head   for example when we pass x as arugement get by head y by machine learning algo# x, y for testing and for trainnig only y head(actual value)
# x, y for testing and for trainnig only y head(actual value)

In [30]:
y_train

       price
2772   58000
5092   25000
4653   16500
5845   41000
159   100000
...      ...
5007   10000
8213  110000
2648   17500
7056   35000
4239   36000

[5845 rows x 1 columns]

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
lg = LinearRegression()

In [33]:
x_train.isnull().sum()

owner         0
brand         0
kms_driven    0
age           0
power         0
dtype: int64

In [34]:
# Algorithym training
lg.fit(x_train , y_train)    # training data for training purpose

LinearRegression()

In [35]:
# model Testing step -> model evaluation step:
# after complete training of model we start evalautions of our model for check it's performance and efficency
# model evaluation depends on different technique algo
    # Regression model

In [36]:
# Training and Testing
print("Training score is:" , round(lg.score(x_train , y_train)*100 ,2))
print("Testing score is:" , round(lg.score(x_test, y_test)*100 ,2))

## you need grater then 90%
# accuracy > 90%

Training score is: 73.61
Testing score is: 75.61

In [37]:
y_hat = lg.predict(x_test)

In [38]:
x_test.shape

(1462, 5)

In [39]:
y_test["preduction"] = y_hat
y_test

       price     preduction
2539  140000  220102.402937
2606  550000  403315.828031
8173   22000   -7210.501087
2273   35000   77013.476857
2590   71000  111028.668246
...      ...            ...
8624   30000      73.288748
1112   29515   60098.950037
5131   15000   -8791.926233
6141  105600  134559.647782
1822   29000   16322.881406

[1462 rows x 2 columns]

In [40]:
y_tester = y_test['preduction'].map(lambda x: round(x,2))
y_tester

2539    220102.40
2606    403315.83
8173     -7210.50
2273     77013.48
2590    111028.67
          ...
8624        73.29
1112     60098.95
5131     -8791.93
6141    134559.65
1822     16322.88
Name: preduction, Length: 1462, dtype: float64

In [41]:
y_tester.head()

2539    220102.40
2606    403315.83
8173     -7210.50
2273     77013.48
2590    111028.67
Name: preduction, dtype: float64

In [42]:
from sklearn.ensemble import RandomForestRegressor
rdf = RandomForestRegressor()

In [43]:
rdf.fit(x_train , y_train)

c:\Users\user\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [44]:
print("Training score is:" , round(rdf.score(x_train , y_train)*100 ,2))
print("Testing score is:" , round(rdf.score(x_test, y_test['price'])*100 ,2))

Training score is: 98.22
Testing score is: 92.03

In [45]:
ls = ["yasmeen" , "yashu" , "yashi" , "jashu"] 
ls

['yasmeen', 'yashu', 'yashi', 'jashu']

In [46]:
import joblib

In [47]:
joblib.dump(ls, 'favourate_student.lb')

['favourate_student.lb']

In [48]:
favourate_Student = joblib.load('favourate_student.lb')
favourate_Student

['yasmeen', 'yashu', 'yashi', 'jashu']

In [49]:
joblib.dump(lg , 'LinearRegression_model.lb')

['LinearRegression_model.lb']